/* heard style */

.container {
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    justify-content: center;
    height: 600px;
    max-width: 1320px;
    margin: auto;


}


/* header */

.sub-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
}

.title {
    color: white;
    text-align: center;
    font-size: 72px;
}

.happy {
    padding: 177px 344px 177px 344px;
}

/* discount section */

.discount-new {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: auto;
}

/* welcome section */


.welcome {
    display: flex;
    justify-content: space-between;
    margin: 120px 140px 0px 140px;
    background-color: rgba(69, 9, 9, 0.246);
    padding: 50px 150px 50px 120px;
    border: none;
    border-radius: 25px;
}

.welcome-title {
    font-size: 64px;
}

.welcome-content {
    max-width: 980px;
}

.welcome-link a {
    font-size: 19px;
    text-decoration: none;

}



/* about section */

.about {
    justify-content: center;
    background-color: #FFF8F3;
    height: 500px;
    width: 1320px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
}

.about-title span {
    color: red;
    font-size: 50px;
}

.about-title {
    text-align: center;
    padding: 100px 300px 110px 300px;
}

.btn-primary {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
}

/* comming soon */

.offer {
    justify-content: center;
    margin: 100px 140px 0 140px;
}
    .offer-container{
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      width: 100%;
      padding: 20px;
      gap: 40px;
    }

    .offer-left, .offer-right {
      flex: 1;
    }

    .offer-center {
      width: 365px;
      height: 365px;
      border: 8px solid red;
      border-radius: 100%;
    }

    .offer-left h4 {
      color: red;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .offer-left h1 {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 10px;
    }

    .offer-left p {
      color: #666;
      line-height: 1.6;
      max-width: 300px;
    }

    .offer-right h2 {
      color: red;
      font-size: 2rem;
      margin-bottom: 10px;
       margin-left: 100px;
    }

    .offer-right p {
      color: #666;
      max-width: 250px;
      line-height: 1.6;
      margin-bottom: 20px;
       margin-left: 100px;
    }

    .offer-right img {
      width: 120px;
      margin-left: 100px;
    }